body{
}
a{
    text-decoration: none;
}

header{
    height: 100px;
    background-color: black;
    color: white;
}

header a{
    color:white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.right a{
    padding: 5px 20px;
}
.left{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}


@media (max-width : 650px){
    header .right{
        display: none;
    }
}